html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background: rgb(230, 230, 230);
    ;
}

.body__otherColor {
    background: rgb(255, 255, 255);
} 

.article {
    max-width: 1600px;
    margin:auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgb(204, 204, 204);
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    font-size: 22px;
}

.article__importantText {

    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}

.article__subHeader {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 20px;
}

.article__paragraph--strong {
    font-weight: bold;
}

.article__header {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 26px;
    line-height: normal;
}

.article__paragraph--bold {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0px;
}

.header__title {
    max-width: 1750px;
    font-family: 'Montserrat', sans-serif;
    line-height: normal;
    font-size: 35px;
    color: teal;
    margin:50px auto 35px;
    padding-top: 15px;
}

.article__background {
    margin: auto;
    max-width: 1600px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.article__title {
    font-size: 20px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 26px;
}

















