.button__background {
    margin: auto;
    max-width: 1600px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.button {
    border: solid 1px teal;
    border-radius: 5px;
    font-size: 35px;
}

.button:hover {
    background: rgb(0, 128, 128);;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
}