.footer {
    max-width: 100%;
    margin:auto;
    background-color: teal;
    color: white;
    box-shadow: 2px 2px 8px rgb(204, 204, 204);
    padding: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 23px;
}