.navigation {
    max-width: 1200px;
    margin: 20px auto;
    padding: 35px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 23px;
}

.navigation__buttons {
    text-decoration: none;
    margin-right: 20px;
    color: rgb(0, 128, 128);
    font-weight: bold;
    font-size: 27px;
}

