
.table {
    max-width: 1600px;
    margin:auto;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    font-size: 22px;

}

.table__decoration {
    width: 100%;
    border-collapse: collapse;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    background: white;
}


.table__caption {
    text-align: left;
    font-size: 25px;
    padding-bottom: 10px;
}


.table__row:hover {
    background: rgb(204, 255, 255)
}

.table__cell {
    border: 2px solid;
    padding: 20px;
    font-size: 20px;
    font-weight: normal;
}

.table__title {
    background: rgb(0, 128, 128);
    border: 2px solid;
    padding: 20px;
    font-weight: 25px;
    font-size: 20px;
}

.table__title:hover {
    background:rgb(204, 255, 255)
}
